.btn-edit {
    padding: 5px;
    font-size: 60%;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0,0,0,.3);
    background-color: #6FBEF3;


}

.btn-edit:active {
    background-color: #AECFE5;
}

.fa {

}

.house{
    background: whitesmoke;
    border-radius: 3px 3px 0 0;
    padding: 0.3em 0.3em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.house-info {
    /*background: #6FBEF3;*/
    padding-bottom: 6px;
    padding-left: 10px;
    border-radius: 3px;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
}

.house-header-big {
    color: #34495e;
    font-size: 250%;
    display: block;
    padding-top: 15px;
}

.house-header-medium {
    color: #34495e;
    font-size: 200%;
    display: block;
    padding-top: 15px;
}

.house-info-stats {
    margin-left: 30px;
}

.text-variable {
    color: #45aaf3;
}

.house-sensors-count {
    color: #45aaf3;
}

.house-devices-count {
    color: #45aaf3;
}

.sensor-info {
    background: whitesmoke;
    margin: 1em 0.4em;
    padding-bottom: 6px;
    padding-left: 10px;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
}

.sensor-name {
    color: #45aaf3;
}

.sensor-value {
    padding-right: 5px;
}

.device-info {
    background: whitesmoke;
    margin: 1em 0.4em;
    padding-bottom: 6px;
    padding-left: 10px;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);

    min-height: 90px;
}

.device-state {
    padding-right: 5px;
}

.device-body{
    color: #34495e;
    font-size: 200%;
    margin-top: 10px;
}

.devices-controls {
    float: right;
    display: inline;
    margin-right: 5px;
}

.btn-device-control {
    margin: 5px;
}

.graphic {
    margin-top: 1.5em;
    margin-left: 0.4em;
    margin-right: 0.4em;

    width: 600px;
    height: 300px;
    background-color: #7f8c8d;
}

.graphic-controls {
    margin-top: 60px;
    flex-grow: 1;
}

.graphic-control {
    display: block;

    margin: 8px;
}
