<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="/public/root-layout">
<head>
    <link rel="stylesheet" th:href="@{/resources/styles/home.css}"/>

    <script id="house-template" type="text/x-handlebars-template">
        <div class="house">
            {{{houseInfo}}}

            <div class="devices">
                {{{devices}}}
            </div>

            <div class="sensors">
                {{{sensors}}}
            </div>
        </div>
    </script>

    <script id="house-info-template" type="text/x-handlebars-template">
        <div class="house-info">
            <span class="house-header-big">House name:
                <span class="text-variable" id="house-name-{{id}}">{{name}}</span>
                <a class="btn-edit" onclick="showEditHouseName('{{id}}')">
                    <i class="fa fa-pencil" id="edit-house-{{id}}"> Edit</i>
                </a>
            </span>
            <span class="house-header-medium house-info-stats">
                Active sensors: <span class="house-sensors-count text-variable">{{sensorsCount}}</span>
                | Active devices: <span class="house-devices-count text-variable">{{devicesCount}}</span>
            </span>
        </div>
    </script>

    <script id="sensor-info-template" type="text/x-handlebars-template">
        <div class="house-header-medium sensor-info">
            Sensor: <span class="sensor-name text-variable" id="sensor-name-{{id}}">{{name}}</span>
            <a class="btn-edit" onclick="showEditSensorName('{{id}}', '{{houseId}}')">
                <i class="fa fa-pencil" id="edit-sensor-{{id}}"> Edit</i>
            </a>
            <span style="float: right;">Last value:
                <span class="sensor-value text-variable" id="sensor-value-{{id}}">{{value}}</span>
            </span>

            <div style="display: flex;">
                <div id="chart-{{id}}" class="graphic">
                </div>
                <div class="graphic-controls">
                    <a class="btn-edit graphic-control" onclick="setStartDate('{{id}}')">
                        <i class="fa">From</i>
                    </a>
                    <span class="graphic-date graphic-control" id="graphic-date-from-{{id}}"> </span>

                    <a class="btn-edit graphic-control" onclick="setEndDate('{{id}}')">
                        <i class="fa">To</i>
                    </a>
                    <span class="graphic-date graphic-control" id="graphic-date-to-{{id}}"> </span>

                    <a class="btn-edit graphic-control" onclick="showGraphic('{{id}}')">
                        <i class="fa">View!</i>
                    </a>
                </div>
            </div>
        </div>
    </script>

    <script id="device-info-template" type="text/x-handlebars-template">
        <div class="device-info">
            <div class="house-header-medium">
                Device: <span class="device-name text-variable" id="device-name-{{id}}">{{name}}</span>

                <a class="btn-edit" onclick="showEditDeviceName('{{id}}', '{{houseId}}')">
                    <i class="fa fa-pencil" id="edit-device-{{id}}"> Edit</i>
                </a>

                <div style="display: inline; float: right">
                    State:
                    <span class="device-state text-variable" id="device-state-{{id}}">{{state}}</span>
                </div>


            </div>

            <div class="device-body">
                Target value: <span class="device-target text-variable" id="device-target-{{id}}">{{target}}</span>

                <a class="btn-edit btn-device-control" onclick="showChangeTargetDeviceValue('{{id}}', '{{houseId}}')">
                    <i class="fa">Change</i>
                </a>

                <div class="devices-controls">
                    <a class="btn-edit btn-device-control" onclick="enableDevice('{{id}}', '{{houseId}}')">
                        <i class="fa">Enable</i>
                    </a>

                    <a class="btn-edit btn-device-control" onclick="disableDevice('{{id}}', '{{houseId}}')">
                        <i class="fa">Disable</i>
                    </a>
                </div>
            </div>
        </div>
    </script>
    <script type="text/javascript">

        window.onload = function () {
            showGeneralInfo();
        };
    </script>
</head>
<body>
<div layout:fragment="content">
    <div class="header">
        <h1>
            Control dashboard
        </h1>
    </div>
    <div class="narrow-content" id="info">

    </div>
    <div class="modal" id="dialog-house-name" style="display:none">
        <h3 align="center">Change house name</h3>
        <hr/>
        <form id="house-name-form" class="pure-form pure-form-aligned">
            <fieldset>
                <div class="pure-control-group">
                    <input id="house-name" name="newName" type="text" placeholder="New house name"/>
                </div>
                <div class="modal-buttons">
                    <button type="button" class="pure-button button-success" onclick="$('#dialog-house-name').hide();">
                        Cancel
                    </button>
                    <button type="button" class="pure-button button-success" onclick="sendChangeHouseName()"
                            style="float: right">
                        Change!
                    </button>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="modal" id="dialog-sensor-name" style="display:none">
        <h3 align="center">Change sensor name</h3>
        <hr/>
        <form id="sensor-name-form" class="pure-form pure-form-aligned">
            <fieldset>
                <div class="pure-control-group">
                    <input id="sensor-name" name="newName" type="text" placeholder="New sensor name"/>
                </div>
                <div class="modal-buttons">
                    <button type="button" class="pure-button button-success" onclick="$('#dialog-sensor-name').hide();">
                        Cancel
                    </button>
                    <button type="button" class="pure-button button-success" onclick="sendChangeSensorName()"
                            style="float: right">
                        Change!
                    </button>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="modal" id="dialog-device-name" style="display:none">
        <h3 align="center">Change sensor name</h3>
        <hr/>
        <form id="device-name-form" class="pure-form pure-form-aligned">
            <fieldset>
                <div class="pure-control-group">
                    <input id="device-name" name="newName" type="text" placeholder="New device name"/>
                </div>
                <div class="modal-buttons">
                    <button type="button" class="pure-button button-success" onclick="$('#dialog-device-name').hide();">
                        Cancel
                    </button>
                    <button type="button" class="pure-button button-success" onclick="sendChangeDeviceName()"
                            style="float: right">
                        Change!
                    </button>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="modal" id="dialog-device-target" style="display:none">
        <h3 align="center">Change sensor name</h3>
        <hr/>
        <form id="device-target-form" class="pure-form pure-form-aligned">
            <fieldset>
                <div class="pure-control-group">
                    <input id="device-target" name="targetValue" type="number" placeholder="Target value"/>
                </div>
                <div class="modal-buttons">
                    <button type="button" class="pure-button button-success"
                            onclick="$('#dialog-device-target').hide();">
                        Cancel
                    </button>
                    <button type="button" class="pure-button button-success" onclick="sendChangeDeviceTarget()"
                            style="float: right">
                        Change!
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>