<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="/public/root-layout">
<head>
    <link rel="stylesheet" th:href="@{/resources/styles/landing.css}"/>
</head>
<body>
<div class="splash-container" layout:fragment="content">
    <div class="splash">
        <h1 class="splash-head">Make you home comfortable!</h1>

        <p class="splash-subhead">

        </p>

        <!--<p>-->
            <!--<a href="" class="pure-button pure-button-primary">Get Started</a>-->
        <!--</p>-->
    </div>
</div>
</body>
</html>