<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="/public/root-layout">
<head>
    <link rel="stylesheet" th:href="@{/resources/styles/signup.css}"/>
</head>
<body>
<div layout:fragment="content">
    <div class="header">
        <h1>
            Sign In!
        </h1>
    </div>
    <div class="narrow-content">
        <form id="login-form" class="pure-form pure-form-aligned">
            <fieldset>
                <div class="pure-control-group">
                    <label for="login">Email</label>
                    <input id="login" name="login" type="text" placeholder="Email"/>
                </div>

                <div class="pure-control-group">
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" placeholder="Password"/>
                </div>

                <span id="error"></span>

                <button type="button" class="pure-button button-success" style="margin-left: 240px" onclick="logIn()">
                    Sign In
                </button>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>