<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
    <link rel="stylesheet" th:href="@{/resources/styles/home.css}"/>
</head>
<body>
<div class="main">
    <div class="narrow-content">
        <div id="house-template" class="house-info">
            <span id="house-name">House name</span>
            <span id="house-sensors-count">Sensors</span>
            <span id="house-devices-count">Devices count</span>
        </div>
        <div id="sensor-template" class="sensor-info">
            <span id="sensor-name">Sensor name</span>
            <span id="sensor-value">Value</span>
        </div>
        <div id="graphic-template" class="graphic">
        </div>
    </div>
</div>

</body>
</html>