<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title></title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css"/>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" th:href="@{/resources/styles/global.css}"/>
    <link rel="stylesheet" th:href="@{/resources/styles/public.css}"/>

</head>
<body>
<div th:replace="public/fragments/header :: header"></div>

<div class="container">
    <div layout:fragment="content">
    </div>
</div>

<div th:replace="public/fragments/footer :: footer"></div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="http://form-serialize.googlecode.com/svn/trunk/serialize-0.2.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
<script type="text/javascript" th:src="@{/resources/scripts/handlebars-v3.0.3.js}"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" th:src="@{/resources/scripts/main.js}"></script>
</body>

</html>