<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title></title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css"/>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css"/>
    <link rel="stylesheet" th:href="@{/resources/styles/global.css}"/>
    <link rel="stylesheet" th:href="@{/resources/styles/public.css}"/>

</head>
<body>
<div th:replace="public/fragments/header :: header"></div>

<div class="container">
    <div layout:fragment="content">
    </div>
</div>

<div th:replace="public/fragments/footer :: footer"></div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/superagent/0.15.7/superagent.min.js"></script>
<script type="text/javascript" src="http://form-serialize.googlecode.com/svn/trunk/serialize-0.2.min.js"></script>
<script type="text/javascript" th:src="@{/resources/scripts/main.js}"></script>
</body>

</html>